@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Poppins:wght@100;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  background: rgb(191, 222, 237);
  background: radial-gradient(circle, rgba(191, 222, 237, 1) 0%, rgba(72, 152, 189, 1) 100%);

}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  color: #fff;
}

.menu ul,
.networks ul {
  list-style-type: none;
  display: flex;
}

.menu ul li,
.networks ul li {
  margin: 10px;
  display: flex;
}

.menu li a,
.networks li a {
  margin-right: 10px;
  text-decoration: none;
  color: #fff;
}

.content {
  display: flex;
  width: 80%;
  padding: 70px;

}

.article {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.image {
  flex: 1;
}

h1 {
  font-size: 75px;
}

.article p {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 20px;
  padding-top: 50px;
}


.email {
  background-color: #fff;
  display: flex;
  border-radius: 30px;
  width: 100%;
}

.email input[type="email"] {
  border: none;
  outline: none;
  flex-grow: 1;
  padding: 5px;
  border-radius: 30px;
  font-size: 15px;
}

.email button {
  background-color: #4094b9;
  color: white;
  border: none;
  padding: 5px 40px;
  margin: 4px;
  cursor: pointer;
  border-radius: 30px;
}

h4 {
  padding-top: 20px;
  text-align: center;
  font-size: 40px;
}

.product p,
.card-textPerson p,
.card-headerPerson p {
  text-align: center;
  color: #b8b1b1;
  font-size: 20px;
}

/* TODO page 2*/

.containerCard {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  border-radius: 10px;
  display: flex;
  text-align: center;
  width: 300px;
  height: 40%;
  margin: 20px;
  overflow: hidden;
  box-shadow: -8px 13px 6px rgba(0, 0, 0, 0.3);
  position: relative;
  background: radial-gradient(circle, rgba(191, 222, 237, 1) 0%, rgba(72, 152, 189, 1) 100%);
  flex-direction: column;
  justify-content: center;

}

.card:hover {
  transform: translate(-1px);
}

.card-header,
.card-text {
  color: #fff;
}

.card-header i {
  font-size: 45px;

}

.card-header i:hover {
  filter: none;

}

.card-text {
  padding: 20px;
}

.card-text h1 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text p {
  font-size: 14px;
}

/*TODO Page 3*/

.containerPerson {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.cardPerson {
  border-radius: 10px;
  width: 300px;
  height: 40%;
  margin: 10px;
  overflow: hidden;
  position: relative;
}

.cardPerson:hover {
  transform: translate(-1px);
}

.card-headerPerson {
  text-align: center;

}

.card-headerPerson img {
  border-radius: 50%;
  width: 50%;
  filter: grayscale(100%);
  transition: transform 2s ease;
}

.card-headerPerson img:hover {
  filter: none;
  border-radius: 50%;
  transform: scale(1.1);
}

.card-textPerson {
  padding: 20px;
  text-align: center;
}

.card-textPerson h3 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-textPerson p {
  font-size: 14px;
}

/*animation des réseaux*/

.network {
  width: 50px;
  height: 60px;
  position: absolute;
  top:70px;
  left: -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #5e15d3;
  font-size: 20px;
  opacity: 0.8;
  transition: all 0.6s;

}

.cardPerson:hover .network {
  left: 0;
  transition: 0.6s;

}